@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
    color: white;
}
.header{
    background: #675893;
}

.card {
    background-color: rgb(43, 44, 51);
    border-radius: 5px;
}
